<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Contributors</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Contributors</string>
			<key>FooterText</key>
			<string>Thank you! :-)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>JustinFincher</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>com.JustZht.GitHubContributions.Bundle.Settings.Contributors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Cee</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>com.JustZht.GitHubContributions.Bundle.Settings.Contributors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>KevinGAleman</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>com.JustZht.GitHubContributions.Bundle.Settings.Contributors</string>
		</dict>
	</array>
</dict>
</plist>
